@model List<HaarlemFestival_Web.Models.Ticket>
@{
    ViewBag.Title = "Order Tickets";
    Layout = "~/Views/Shared/Pages/_Layout.cshtml";
}


<h2>Buy your tickets</h2>

<h5>Thank you for your interest in Haarlem Festival.</h5>