@{
    ViewBag.Title = Model.Date + " - Information";
    Layout = "~/Views/Shared/Pages/_Layout.cshtml";
}
<h2>Ticket Overview</h2>

<section>
    <p>
        <!--Hier komen de tickets voor Jazz-->
    </p>
    <p>

    </p>

    <p>

    </p>
    <p>

    </p>
</section>