@model HaarlemFestival_Web.Models.ViewModels.AvailableTicket
@{
    ViewBag.Title = "Order Tickets";
    Layout = "~/Views/Shared/Pages/_Layout.cshtml";

    //var test = Model.GetType().GetProperties().OfType<IEnumerable<object>>();
}
<h2>Ticket Overview</h2>

<section>
    @*foreach (var item in Model.GetType().GetProperties().OfType<IEnumerable<object>>())
        {
            Console.Write(item);
        }*@

    

    @foreach (var item in Model.jazz)
    {
        @item.Artist
        @item.Capacity
        @item.Description

    }
    @foreach (var item in Model.dining)
    {

    }
    @foreach (var item in Model.talking)
    {

    }
    @foreach (var item in Model.walking)
    {

    }

</section>