@{
    ViewBag.Title = "Order Tickets";
    Layout = "~/Views/Shared/Pages/_Layout.cshtml";

    //var test = Model.GetType().GetProperties().OfType<IEnumerable<object>>();
}

<h2>Index</h2>

<br />

<a href="~/Ticket/Jazz">Order jazz tickets here</a>
