@{
    ViewBag.Title = "Thank you!";
    Layout = "~/Views/Shared/Pages/_Layout.cshtml";
}


<center>
    <h2 class="text-info">Thank you, <br />we've send a mail containing the details!</h2>
</center>