@{
    ViewBag.Title = "Choose";
    Layout = "~/Views/Shared/Checkout/_Layout.cshtml";
}

<div class="grid-container-4">

    @*Ajax actions are used to dynamically load content into the ticket picking list.*@
    @Ajax.ActionLink("Historic Tours", "PartialWalking", "Checkout", new AjaxOptions { UpdateTargetId = "ticket-choose-content" }, new { @class = "btn btn-lg" })
    @Ajax.ActionLink("Dining in Haarlem", "PartialDining", "Checkout", new AjaxOptions { UpdateTargetId = "ticket-choose-content" }, new { @class = "btn btn-lg" })
    @Ajax.ActionLink("Jazz @ Patronaat", "PartialJazz", "Checkout", new AjaxOptions { UpdateTargetId = "ticket-choose-content" }, new { @class = "btn btn-lg" })
    @Ajax.ActionLink("Talking Haarlem", "PartialTalking", "Checkout", new AjaxOptions { UpdateTargetId = "ticket-choose-content" }, new { @class = "btn btn-lg" })
</div>

<div id="ticket-choose-content" class="grid-container-4">
    <!-- Press a button first. -->
</div>

<div class="grid-container-4"></div>
<div class="clearfix"></div>
