@{
    ViewBag.Title = "Dining";
    Layout = "~/Views/Shared/Pages/_Layout.cshtml";
}

<link rel="stylesheet" href="../Content/Dining.css" />

<body>
    <div class="btn-group">
        <button>Show all</button>
        <button>Reserveren</button>
        <button>Reserveren</button>
        <button>Reserveren</button>
        <button>Reserveren</button>
        <button>Reserveren</button>
        <button>Reserveren</button>
        <button>Reserveren</button>
        <button>Reserveren</button>
        <button>Reserveren</button>
    </div>
</body>


