
@{
    ViewBag.Title = "Historic";
}
<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/Content/Historic.css" />
</head>
<body>
    
    <!-- lijst met te bezoeken plaatsen -> dynamic panel
    // rooster van tourtijden // deel 1
    // rooster van tourtijden // deel 2
    // een google map   -->
    <section class="headerwhole">
        <header class="col-md-6">
            <h1 class="headerp1">HISTORIC TOURS</h1>
            <h2 class="headerp1">A historic walking tour through Haarlem</h2>
        </header>

        <section class="article col-md-6" >
            This is the page of the Historic Tour through Haarlem. Would you like to learn more about Haarkem and its history?
            This is the perfect chance! On the 27th, 28th and 29th of July 2018 the Haarlem Festival organizes a Historic Tour through Haarlem.
            The tour will be held in Dutch, English and Chinese.
        </section>
    </section>

    <div class="clearfix"></div>

    <section class="tekst">
            These are the locations the tour visits. Click on a location to find out more information about the location:

            <br />Grote Markt (Start)
            <br />Church of St. Bavo
            <br />De Hallen
            <br />Proveniershof
            <br />Jopenkerk (Break)
            <br />Walloon Church Haarlem
            <br />Molen de Adriaan
            <br />Amsterdamse Poort
            <br />Hof van Bakenes
            <br />Grote Markt (End)
    </section>

    <section>
        <section class="tekst">
            The duration of the tour is two and a half hour.
            <br />Children under the age of 12 and strollers are not allowed.
            <br />Prices are €17,50 per participant. A family ticket (4 participants) costs €60.
            <br />Reservation is mandatory.
        </section>
    </section>
</body>
</html>