
@{
    ViewBag.Title = "TalkingHaarlemView";
    Layout = "~/Views/Shared/Pages/_Layout.cshtml";
}

<h2>Talking Haarlem</h2>

<!-- Background image (Image) -->
<div id="u183" class="ax_default image" data-label="Background image">
<img id="u183_img" class="img " src="https://d26uhratvi024l.cloudfront.net/gsc/F7QWT9/80/01/bd/8001bd3e78e94289a8205a4b82db16a9/images/home/background_image_u183.jpg?token=66a442715b1c17467a474317e35495ac" />
</div>

<!-- Blue background overlay (Rectangle) -->
<div id="u184" class="ax_default box_1" data-label="Blue background overlay">
<div id="u184_div" class=""></div>
</div>