@{
    Layout = null;
}
    <main>
        @*<h1 class="SubjectTitle">@Model[1].Name</h1>*@

        <div id="base">
            <!-- Background image (Image) -->
            <div class="ax_default image" id="u0" data-label="Background image">
                <img class="img " id="u0_img" src="images/home/regen/background_image_u0.jpg">
            </div>
            <!-- Blue background overlay (Rectangle) -->
            <div class="ax_default box_1" id="u1" data-label="Blue background overlay">
                <div id="u1_div"></div>
            </div>
            <!-- Unnamed (Rectangle) -->
            <div class="ax_default button" id="u2" style="cursor: pointer;">
                <div tabindex="0" id="u2_div"></div>
                <div class="text " id="u2_text">
                    <p><span>RESERVE TICKETS</span></p>
                </div>
            </div>
            <!-- Unnamed (Rectangle) -->
            <div class="ax_default heading_1" id="u3">
                <div id="u3_div"></div>
                <div class="text " id="u3_text">
                    <p><span style="font-family:'KorolevMilitaryStencil ☞ Bold', 'KorolevMilitaryStencil ☞ Regular', 'KorolevMilitaryStencil ☞';font-weight:700;">Talking Haarlem</span></p>
                </div>
            </div>
            <!-- Information about event (Rectangle) -->
            <div class="ax_default paragraph" id="u4" data-label="Information about event">
                <div id="u4_div"></div>
                <div class="text " id="u4_text">
                    <p><span>The place where famous people interview each other</span></p>
                </div>
            </div>
            <!-- Image Brigitte Kaandorp (Image) -->
            <div class="ax_default image" id="u5" data-label="Image Brigitte Kaandorp">
                <img class="img " id="u5_img" src="images/home/regen/image_brigitte_kaandorp_u5.jpg">
            </div>
            <!-- Image Paul Witteman (Image) -->
            <div class="ax_default image" id="u6" data-label="Image Paul Witteman">
                <img class="img " id="u6_img" src="images/home/regen/image_paul_witteman_u6.jpg">
            </div>
            <!-- Image Rob Trip (Image) -->
            <div class="ax_default image" id="u7" data-label="Image Rob Trip">
                <img class="img " id="u7_img" src="images/home/regen/image_rob_trip_u7.jpg">
            </div>
            <!-- Image Giel Beelen (Image) -->
            <div class="ax_default image" id="u8" data-label="Image Giel Beelen">
                <img class="img " id="u8_img" src="images/home/regen/image_giel_beelen_u8.png">
            </div>
            <!-- Overlay Paul and Brigitte (Rectangle) -->
            <div class="ax_default box_1" id="u9" data-label="Overlay Paul and Brigitte">
                <div id="u9_div"></div>
                <div class="text " id="u9_text" style="top: 33px; transform-origin: 302px 52px 0px;">
                    <p><span>Paul Witteman</span></p><p><span>meets</span></p><p><span>Brigitte Kaandorp</span></p><p><span>on Saturday the 28th&nbsp; </span></p><p><span>Timeslot: 20:00 - 22:00</span></p>
                </div>
            </div>
            <!-- Overlay Rob and Giel (Rectangle) -->
            <div class="ax_default box_1" id="u10" data-label="Overlay Rob and Giel">
                <div id="u10_div"></div>
                <div class="text " id="u10_text" style="top: 32px; transform-origin: 302px 52px 0px;">
                    <p><span>Rob Trip</span></p><p><span>meets</span></p><p><span>Giel Beelen</span></p><p><span>on Thursday the 26th</span></p><p><span>Timeslot: 20:00- 22:00</span></p>
                </div>
            </div>
            <!-- Button Femke and Job (Rectangle) -->
            <div class="ax_default button" id="u11" style="cursor: pointer;" data-label="Button Femke and Job">
                <div tabindex="0" id="u11_div"></div>
            </div>
            <!-- Button Rob and Giel (Rectangle) -->
            <div class="ax_default button" id="u12" style="cursor: pointer;" data-label="Button Rob and Giel">
                <div tabindex="0" id="u12_div"></div>
            </div>
            <!-- Button Paul meets Brigitte (Rectangle) -->
            <div class="ax_default button" id="u13" style="cursor: pointer;" data-label="Button Paul meets Brigitte">
                <div tabindex="0" id="u13_div"></div>
            </div>
            <!-- Femke Halsema (Image) -->
            <div class="ax_default image" id="u14" data-label="Femke Halsema">
                <img class="img " id="u14_img" src="images/home/regen/femke_halsema_u14.jpg">
            </div>
            <!-- Job Cohen (Image) -->
            <div class="ax_default image" id="u15" data-label="Job Cohen">
                <img class="img " id="u15_img" src="images/home/regen/job_cohen_u15.png">
            </div>
            <!-- Overlay Femke and Job (Rectangle) -->
            <div class="ax_default box_1" id="u16" data-label="Overlay Femke and Job">
                <div id="u16_div"></div>
                <div class="text " id="u16_text" style="top: 32px; transform-origin: 302px 52px 0px;">
                    <p><span>Femke Halsema</span></p><p><span>meets</span></p><p><span>Job Cohen</span></p><p><span>on Friday the 27th</span></p><p><span>Timeslot: 20:00 - 22:00</span></p>
                </div>
            </div>
            <!-- Navigation (Table) -->
            <div class="ax_default" id="u17" data-label="Navigation">
                <!-- Unnamed (Table Cell) -->
                <div class="ax_default table_cell" id="u18" style="cursor: pointer;">
                    <img tabindex="0" class="img " id="u18_img" src="images/home/regen/u18.png">
                    <div class="text " id="u18_text">
                        <p><span>HOME</span></p>
                    </div>
                </div>
                <!-- Unnamed (Table Cell) -->
                <div class="ax_default table_cell" id="u19" style="cursor: pointer;">
                    <img tabindex="0" class="img " id="u19_img" src="images/home/regen/u18.png">
                    <div class="text " id="u19_text">
                        <p><span>HISTORIC TOURS</span></p>
                    </div>
                </div>
                <!-- Unnamed (Table Cell) -->
                <div class="ax_default table_cell" id="u20" style="cursor: pointer;">
                    <img tabindex="0" class="img " id="u20_img" src="images/home/regen/u18.png">
                    <div class="text " id="u20_text">
                        <p><span>DINING IN HAARLEM</span></p>
                    </div>
                </div>
                <!-- Unnamed (Table Cell) -->
                <div class="ax_default table_cell" id="u21" style="cursor: pointer;">
                    <img tabindex="0" class="img " id="u21_img" src="images/home/regen/u18.png">
                    <div class="text " id="u21_text">
                        <p><span>JAZZ@PATRONAAT</span></p>
                    </div>
                </div>
                <!-- Unnamed (Table Cell) -->
                <div class="ax_default table_cell" id="u22" style="cursor: pointer;">
                    <img tabindex="0" class="img " id="u22_img" src="images/home/regen/u22.png">
                    <div class="text " id="u22_text">
                        <p><span>TALKING HAARLEM</span></p>
                    </div>
                </div>
            </div>
            <!-- Unnamed (Rectangle) -->
            <div class="ax_default paragraph" id="u23">
                <div id="u23_div"></div>
                <div class="text " id="u23_text">
                    <p><span>Talking Haarlem is an event where two famous people are going to interview each other about Haarlem. They are going to talk about their career and what Haarlem has done for them. This event is free but reservation is mandatory. Please keep in mind that you can order a maximum of two tickets per day. For more information about the people, click on a duo. </span></p>
                </div>
            </div>
            <!-- Information about event (Rectangle) -->
            <div class="ax_default paragraph" id="u24" data-label="Information about event">
                <img class="img " id="u24_img" src="images/home/regen/information_about_event_u24.png">
                <div class="text " id="u24_text">
                    <p><span>Femke Halsema, 51 years old</span></p><p><span><br></span></p><p><span>Femke Halsema is a former Dutch politician. From 1998 to 2011 she was a member of the Lower House of the States-General on behalf of GroenLinks. From 2002 to 2010 she was the group chairman and political leader of this party.</span></p>
                </div>
            </div>
            <!-- Information about event (Rectangle) -->
            <div class="ax_default paragraph" id="u25" data-label="Information about event">
                <img class="img " id="u25_img" src="images/home/regen/information_about_event_u25.png">
                <div class="text " id="u25_text">
                    <p><span>Job Cohen, 69 years old</span></p><p><span><br></span></p><p><span>Marius Job Cohen is a Dutch lawyer who was a politician, and since 2014 Professor at the University of Leiden in municipal law and municipal science.</span></p>
                </div>
            </div>
        </div>

    </main>
