@model IEnumerable<HaarlemFestival_Web.Models.Talking>
@{
    ViewBag.Title = "Talking";
    Layout = "~/Views/Shared/Pages/_Layout.cshtml";
}
<link rel="stylesheet" href="../Content/Talking.css" />

<body>

   
    <button type="button">Reserveren</button>

</body>
