nav > ul {
    padding: 1em;
    display: block;
}

nav > ul:active {
    display: table;
    background-color: transparent;
}

nav > ul > li {
    list-style-type: none;
    display: table-cell;
    width: 20vw;
    margin: 0;
    padding: 0;
    border: 0;
    text-align: center;
    font-size: large;
}

nav > ul > li a {
    display: block;
    width: 100%;
    height: 100%;
}

.btn-lg {
    width: 100%;
    color: white;
    background-color: cornflowerblue;
}

html, body {
    background-color: #fff;
    padding: 0;
}

.required:after {
    content: "<sup>*</sup>";
    color: darkred;
}