@model IList<HaarlemFestival_Web.Models.Subject>

@{
    Layout = null;
}

<link rel="stylesheet" href="../Content/Home.css" />

<main>

    @foreach (var item in Model)
    {
        string Description = item.Description;

        if (item.Description.Contains("<br />"))
        {
            Description = item.Description.Replace("<br />", "\n");
        }
        <section class="SubjectBlock">
            <img src="@item.ImagePath"/>
            <h1 >@item.Name</h1> <br />
            <h2>@Description</h2>
        </section>
    }



</main>