@model IList<HaarlemFestival_Web.Models.Subject>

@{
    Layout = null;
}

<link rel="stylesheet" href="../Content/Home.css" />

<main>

    @foreach (var item in Model)
    {
        <section class="SubjectBlock">
            <img src="@item.ImagePath" class="SubjectImage"/>
            <span class="Subject">@item.Name</span> <br />
            <span class="SubjectDescription">@item.Description</span>
        </section>
    }
</main>