@model IEnumerable<HaarlemFestival_Web.Models.Subject>

@{
    Layout = null;
}

<table style="width:100%; border:none; height:100%; text-align:center;">

    <tr>
        <td>Blok 1</td>
        <td>Blok 2</td>
    </tr>

    <tr>
        <td>Blok 1</td>
        <td>Blok 2</td>
    </tr>
</table>

