@model HaarlemFestival_Web.Models.Walking

        @*<div class="form-group">
            @Html.LabelFor(model => model.TourGuideId, "TourGuideId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("TourGuideId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.TourGuideId, "", new { @class = "text-danger" })
            </div>
        </div>*@
