@font-face {
    font-family: 'Korolev';
    src: url(../fonts/KorolevMilitaryStencil.ttf);
}

body{
    background-image: url(../Content/Images/Dining/Background.jpg);
    background-size: cover;
}

.btn-group button {
    background-color: orange; /* Green background */
    border: solid orange; /* Green border */
    color: white; /* White text */
    width: 200px;
    height: 60px;
    display: block; /* Make the buttons appear below each other */
    text-align: center;
    margin-left: 5%;
}

    .btn-group button:not(:last-child) {
        border-bottom: none; /* Prevent double borders */
    }

    /* Add a background color on hover */
    .btn-group button:hover {
        background-color: transparent;
    } 
