@font-face {
    font-family: 'Korolev';
    src: url(../fonts/KorolevMilitaryStencil.ttf);
}

body {
    width: 100%;
    height: auto;
    margin: 0;
}

main {
    margin-top: 35px;
    margin-bottom: 35px;
}

h1, .SubjectTitle {
    position:relative;

    font-family: 'Korolev';
    font-weight: normal;

    margin:auto;

    font-size: 80pt;

    display:inline-block;
    text-align:center;

    vertical-align:middle;
}

h2, .SubjectDescription {
    display: inline-block;
    white-space: pre-wrap;
    max-width: 30%;
    text-align: center;
    vertical-align:middle;
    margin: auto;
    position: relative;

    visibility:hidden;
}

img {
}


td, .SubjectImage {
    z-index:1;
    height: auto;
    width: 100%;
}

td, .SubjectColom {
    width: 50%;
    text-align:center;
}

.SubjectTable {
    width: 100%;
    height: calc(100% - 70px);

    display:table;

    border-collapse:collapse;
}

/*.SubjectDescription {
    text-align: center;
    position: relative;
    vertical-align: middle;
    display: block;
    transform: translateY(450%);
    white-space:pre-line;
}*/

/*.SubjectBlock {
    float: left;
    display: block;
    width: 50%;
    height: calc(50% - 35px);
    word-wrap: break-word;
    overflow: hidden;
    vertical-align: middle;
    position: relative;
    text-align: center;
}*/

#logo {
    position: fixed;
    top: 50%;
    left: 50%;
}

#Jazz:hover {
    background-color:transparent;
    background-image: url(../Content/Images/Home/Jazz.png);
    transition: background-color 0.5s ease;
}

#Jazz {
    background: rgba(255,0,0,1);
    transition: background-color 0.5s ease;
    
}

#Talking {
    background:url(../Content/Images/Home/Talking.png);
}

#Tours {
    background: url(../Content/Images/Home/Tours.png);
}

#Dining {
    background: url(../Content/Images/Home/Restaurants.png);
}
