@font-face {
    font-family: 'Korolev';
    src: url(../fonts/KorolevMilitaryStencil.ttf);
}

nav {
    font-family: Korolev;
    font-size: 45px;
    background-color: #fff;
}

ul {
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
}

.nav li {
    display: inline-block;
    width: 20%;
    margin: 0;
    padding: 0;
}
