@font-face{
    font-family: 'Korolev';
    src: url(../fonts/KorolevMilitaryStencil.ttf);
}

nav{
    font-family: Korolev;
    font-size: 25px;
}

nav ul{
    text-align: center;
}

ul{
    padding: 0;
    margin: 0;
    background-color: white;
    list-style-type: none;
    overflow: hidden;
}

.nav li{
    display: inline-block;
    width: 20%;
}

button:hover{
    background-color: transparent;
}
